Repository vetalapo/eCommerce, pull requests merged in 2024-06, with the labels that each got.

#70 Rss ecomm 3 14
  package-lock.json
  package.json
  src/constants/index.ts
  src/plugins/vuetify.ts
  src/router/index.ts
  src/types/index.ts
  src/views/ProfileView.vue
  src/views/RegistrationView.vue
  src/views/RootView.vue
  src/views/__tests__/ProfileView.spec.ts
  vite.config.ts
Labels: User Profile Page

#71 Fetch and Display Product List using Commercetools API
  src/types/index.ts
  src/views/ProductsView.vue
Labels: Catalog Product Page

#74 Display Prices with and Without Discount for Discounted Products
  src/views/ProductsView.vue
Labels: Catalog Product Page

#77 Edit Mode for Updating User Details on Profile Page
  src/services/commercetoolsApi.ts
  src/types/index.ts
  src/utils/formatDateOfBirth.ts
  src/utils/validationRules.ts
  src/views/LoginView.vue
  src/views/ProfileView.vue
  src/views/RegistrationView.vue
  src/views/__tests__/ProfileView.spec.ts
Labels: User Profile Page

#78 Rss ecomm 3 12 && rss ecomm 3 13
  src/views/DetailedPageView.vue
Labels: Detailed Product Page

#76 Implement Robust Filtering Options for Product List Using commercetools API
  src/views/ProductsView.vue
  src/views/RootView.vue
Labels: Catalog Product Page

#79 Rss ecomm 3 19 && rss ecomm 3_07
  src/views/ProductsView.vue
Labels: Catalog Product Page, Detailed Product Page

#80 Rss ecomm 3 11
  src/types/index.ts
  src/views/DetailedPageView.vue
Labels: Detailed Product Page

#84 Rss ecomm 3 11 bugfix
  src/types/index.ts
  src/views/DetailedPageView.vue
Labels: Detailed Product Page

#85 Issue RSS-ECOMM-3_16: Implement Personal Information and Email Edit in User Profile Page
  src/store/auth.store.ts
  src/views/ProfileView.vue
Labels: User Profile Page

#86 Rss ecomm 3 08
  src/services/commercetoolsApi.ts
  src/types/index.ts
  src/views/ProductsView.vue
Labels: Catalog Product Page

#75 Sprint 3: Catalog Product Page, Detailed Product Page & User Profile Page Implementation
  .github/workflows/node.js-sprint-release-test.yml
  package-lock.json
  package.json
  src/App.vue
  src/components/__tests__/LoginView.spec.ts
  src/constants/index.ts
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/router/index.ts
  src/services/commercetoolsApi.ts
  src/store/auth.store.ts
  src/store/index.ts
  src/types/index.ts
  src/utils/formatDateOfBirth.ts
  src/utils/validationRules.ts
  src/views/DetailedPageView.vue
  src/views/LoginView.vue
  src/views/ProductsView.vue
  src/views/ProfileView.vue
  src/views/RegistrationView.vue
  src/views/RootView.vue
  src/views/__tests__/AboutView.spec.ts
  src/views/__tests__/DetailedPageView.spec.ts
  src/views/__tests__/LoginView.spec.ts
  src/views/__tests__/ProfileView.spec.ts
  src/views/__tests__/types/index.ts
  vite.config.ts
  vitest.config.ts
Labels: Entire App

#107 Rss ecomm 4 19
  src/assets/img/github2.svg
  src/assets/img/joelle.jpeg
  src/assets/img/linkedin.svg
  src/assets/img/vitalii.jpeg
  src/views/AboutView.vue
  src/views/__tests__/AboutView.spec.ts
Labels: About Us Page

#109 Rss ecomm 4 20
  src/assets/img/rs-school-logo.svg
  src/views/AboutView.vue
Labels: About Us Page

#110 Rss ecomm 3 08
  src/constants/categories.ts
  src/services/commercetoolsApi.ts
  src/types/index.ts
  src/views/ProductsView.vue
Labels: Catalog Product Page

#111 Rss ecomm 4 21
  src/router/index.ts
  src/views/BasketView.vue
  src/views/RootView.vue
Labels: Routing, Basket Page

#113 refactor: remove contacts.view and improve formatting
  src/router/index.ts
  src/views/AboutView.vue
  src/views/BasketView.vue
  src/views/CategoriesView.vue
  src/views/ContactsView.vue
  src/views/DetailedPageView.vue
  src/views/HomeView.vue
  src/views/ProductsView.vue
  src/views/RootView.vue
Labels: Entire App

#116 Rss ecomm 4 20
  src/assets/img/Valeryia.jpg
  src/views/AboutView.vue
  src/views/__tests__/AboutView.spec.ts
Labels: About Us Page

#118 RSS-ECOMM-4_01: Add "Add to Cart" Button on Product Cards
  src/views/ProductsView.vue
Labels: Catalog Product Page

#117 RSS-ECOMM-4_23: Implement a Basket Icon in Header Navigation
  src/views/RootView.vue
Labels: Basket Page

#115 feat: home page layout
  src/assets/img/books.jpeg
  src/assets/img/cat1.jpg
  src/assets/img/cat2.jpg
  src/assets/img/cat3.jpg
  src/assets/img/cat4.jpg
  src/assets/img/cat5.jpg
  src/assets/img/cat6.jpg
  src/assets/img/cat7.jpg
  src/assets/img/cat8.jpg
  src/assets/img/cat9.jpg
  src/components/TheWelcome.vue
  src/components/__tests__/TheWelcome.spec.ts
  src/constants/categories.ts
  src/types/index.ts
  src/views/HomeView.vue
Labels: Main page

#121 114 main home pages implementation: fix images
  src/views/HomeView.vue
Labels: Main page

#126 RSS-ECOMM-4_03: Implement Efficient Loading of Products on Catalog Page
  src/constants/categories.ts
  src/constants/index.ts
  src/services/commercetoolsApi.ts
  src/utils/getCategoryCtIds.ts
  src/views/ProductsView.vue
Labels: Catalog Product Page

#124 Rss ecomm 4 07
  src/views/DetailedPageView.vue
Labels: Detailed Product Page

#128 RSS-ECOMM-4_10: Fetch and Display Cart Items Using commercetools API
  src/assets/css/root.css
  src/types/index.ts
  src/views/AboutView.vue
  src/views/BasketView.vue
  src/views/ProductsView.vue
  src/views/RootView.vue
Labels: Basket Page

#129 Rss ecomm 4 16
  src/constants/index.ts
  src/views/BasketView.vue
  src/views/HomeView.vue
Labels: Basket Page

#130 Tests sprint4
  src/utils/__tests__/formatDateOfBirth.spec.ts
  src/utils/__tests__/validationRules.spec.ts
  src/views/RootView.vue
  src/views/__tests__/AboutView.spec.ts
  src/views/__tests__/BasketView.spec.ts
  src/views/__tests__/DetailedPageView.spec.ts
  src/views/__tests__/HomeView.spec.ts
  src/views/__tests__/ProductsView.spec.ts
  src/views/__tests__/types/index.ts
Labels: tests
