Repository vetalapo/eCommerce, pull requests merged in 2024-05, with the labels that each got.

#30 feat: user auth and app global store setup
  .env.example
  .gitignore
  package-lock.json
  package.json
  src/App.vue
  src/constants/apiMessages.ts
  src/constants/categories.ts
  src/constants/index.ts
  src/main.ts
  src/router/index.ts
  src/services/commercetoolsApi.ts
  src/services/localstorage.ts
  src/store/UserStore.ts
  src/store/store.ts
  src/types/index.ts
  src/utils/getCategoryCtIds.ts
Labels: Login page

#29 Rss ecomm 2 01
  index.html
  package-lock.json
  package.json
  src/App.vue
  src/assets/base.css
  src/assets/css/main.css
  src/assets/css/root.css
  src/assets/img/eCommerce-store.png
  src/assets/logo.svg
  src/assets/main.css
  src/components/HelloWorld.vue
  src/main.ts
  src/router/index.ts
  src/views/HomeView.vue
  src/views/LoginView.vue
  src/views/RootView.vue
Labels: Login page

#34 Display clear error messages for validation issues
  src/views/LoginView.vue
Labels: Login page

#33 Rss ecomm 02 09
  package-lock.json
  package.json
  src/assets/img/backgroundRegistration.png
  src/assets/img/eCommerce-registration.svg
  src/router/index.ts
  src/utils/validationRules.ts
  src/views/LoginView.vue
  src/views/RegistrationView.vue
  src/views/RootView.vue
Labels: Registration page

#37 8 rss ecomm 2 05
  package-lock.json
  package.json
  public/favicon.ico
  src/main.ts
  src/router/index.ts
  src/store/UserStore.ts
  src/store/auth.store.ts
  src/store/index.ts
  src/store/store.ts
  src/types/index.ts
  src/utils/validationRules.ts
  src/views/LoginView.vue
  src/views/NotFoundView.vue
  src/views/RegistrationView.vue
  src/views/RootView.vue
Labels: Login page

#40 Tests
  src/components/__tests__/LoginView.spec.ts
Labels: tests

#67 Sprint2tests
  package-lock.json
  package.json
  src/App.vue
  src/components/__tests__/LoginView.spec.ts
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/store/index.ts
  src/views/LoginView.vue
  src/views/__tests__/AboutView.spec.ts
  src/views/__tests__/LoginView.spec.ts
  src/views/__tests__/types/index.ts
  vite.config.ts
  vitest.config.ts
Labels: tests

#68 Rss ecomm 3 09
  src/router/index.ts
  src/services/commercetoolsApi.ts
  src/types/index.ts
  src/views/DetailedPageView.vue
Labels: Detailed Product Page

#69 Rss ecomm 3 10
  src/views/DetailedPageView.vue
  src/views/__tests__/DetailedPageView.spec.ts
Labels: Detailed Product Page
